@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins&display=swap');
.container {
    background-color: #ffffff;
    padding: 20px;
    height: 30px;
    width: 100px;
}

.profile {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #4C506B;
    float: left;
    margin-left: 50px;
}

.toggle {
    float: left;
    margin-left: 50px;
    font-family: 'DM Sans', sans-serif;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.trading {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #453DE0 !important;
    margin-left: 200px;
    text-decoration: none;
}

.stocks {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #A9ACBB;
}

.line-break {
    border: 1px solid #A9ACBB;
    height: 20px;
    margin: 0 20px 0 20px;
}

.profile-icon {
    display: flex;
    align-items: center;
    line-height: 31px;
    position: absolute;
    right: 0;
    margin-top: -10px;
    margin-right: 50px;
}